tensorflow~=2.11.0
sklearn~=0.0.post1
scikit-learn~=1.0.2
matplotlib~=3.6.2
numpy~=1.20.3
pandas~=1.5.2
wandb~=0.13.10
rdkit~=2022.9.3
tqdm~=4.64.1
torch~=1.13.1+cu116
jsonpickle~=2.2.0
keras~=2.11.0
seaborn~=0.12.2
setuptools~=66.0.0
scipy~=1.8.1
h5py~=3.1.0
Werkzeug~=2.2.2
tensorboardX~=2.5.1
psutil~=5.9.4
packaging~=22.0
hyperopt~=0.2.7